In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [103]:
df=pd.read_csv('../Raw Data/raw Data for crime anylasis.csv')
df.head(3)

,index,Population_Density,Unemployment_Rate,Police_Station_Distance,Number_of_Schools,Average_Income,Age_Group_Ratio_15_24,Age_Group_Ratio_25_44,Age_Group_Ratio_45_plus,Poverty_Rate,...,Single_Parent_Household_Rate,CCTV_Cameras,Drug_Hospital_Admissions,Police_Patrol_Frequency,Emergency_Response_Time,Youth_Unemployment_Rate,Alcohol_Outlet_Density,Distance_to_High_Risk_Areas,Mental_Health_Services,Total_Crime_in_Month
0,0,283977,5.3%,1.3,270,75334,24.4,72.9,2.7,93.4,...,75.3,787,1774,448,81.5,15.0,250,23.3,185,183
1,1,409705,35.3,17.3,458,86717,95.2,1.2,3.6,58.7,...,40.2,394,4150,146,66.5,64.7,370,13.6,338,529
2,2,112779,92.8%,9.8,397,86482,2.6,78.9,18.5,67.4,...,51.0,82,1802,156,443.8,100.0,383,33.1,310,331

# Data Cleaning

In [104]:
df1=df.copy()
df1.isnull().sum()

index                           0
Population_Density              0
Unemployment_Rate               0
Police_Station_Distance         0
Number_of_Schools               0
Average_Income                  0
Age_Group_Ratio_15_24           0
Age_Group_Ratio_25_44           0
Age_Group_Ratio_45_plus         0
Poverty_Rate                    0
School_Dropout_Rate             0
Housing_Quality                 0
Access_to_Public_Transport      0
Recreational_Facilities         0
Single_Parent_Household_Rate    0
CCTV_Cameras                    0
Drug_Hospital_Admissions        0
Police_Patrol_Frequency         0
Emergency_Response_Time         0
Youth_Unemployment_Rate         0
Alcohol_Outlet_Density          0
Distance_to_High_Risk_Areas     0
Mental_Health_Services          0
Total_Crime_in_Month            0
dtype: int64

In [105]:
df1.drop(['index'],axis=1,inplace=True)
df1

,Population_Density,Unemployment_Rate,Police_Station_Distance,Number_of_Schools,Average_Income,Age_Group_Ratio_15_24,Age_Group_Ratio_25_44,Age_Group_Ratio_45_plus,Poverty_Rate,School_Dropout_Rate,...,Single_Parent_Household_Rate,CCTV_Cameras,Drug_Hospital_Admissions,Police_Patrol_Frequency,Emergency_Response_Time,Youth_Unemployment_Rate,Alcohol_Outlet_Density,Distance_to_High_Risk_Areas,Mental_Health_Services,Total_Crime_in_Month
0,283977,5.3%,1.3,270,75334,24.4,72.9,2.7,93.4,33.9,...,75.3,787,1774,448,81.5,15.0,250,23.300000,185,183
1,409705,35.3,17.3,458,86717,95.2,1.2,3.6,58.7,79.8,...,40.2,394,4150,146,66.5,64.7,370,13.600000,338,529
2,112779,92.8%,9.8,397,86482,2.6,78.9,18.5,67.4,51.9,...,51.0,82,1802,156,443.8,100.0,383,33.100000,310,331
3,633945,40.8,19.9,177,33704,53.7,40.3,6.0,41.7,7.3,...,60.3,843,2671,299,343.6,80.6,203,26.500000,160,347
4,607368,5.9,21.7,716,77833,20.1,19.3,60.6,94.5,5.9,...,75.7,520,3569,81,125.3,17.4,343,9.000000,16,468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,16924,54.0,20.9,241,31803,16.9,82.2,0.8,84.4,70.9,...,52.5,57,60,26,18.8,64.8,7,5.866477,33,77
396,33790,41.8,18.4,36,35756,86.5,0.4,13.1,8.1,3.6,...,4.2,76,71,187,15.9,66.1,28,7.404723,74,14
397,20377,71.0,7.7,97,40069,32.6,4.3,63.0,34.0,30.7,...,67.6,56,88,49,45.4,100.0,26,2.807587,60,83
398,6930,11.4,20.8,216,45671,16.1,39.0,44.9,49.5,32.4,...,31.6,21,47,133,91.6,26.7,37,24.242544,22,22
399,9411,82.0,4.7,59,27872,37.1,17.7,45.1,17.9,27.4,...,35.7,8,47,14,90.8,100.0,63,5.195596,88,74

In [106]:
df1.drop_duplicates(inplace=True)

In [107]:
cols_with_percent = [
    col for col in df1.columns
    if df1[col].astype(str).str.contains('%', case=False, na=False).any()
]

cols_with_Km =[
    col for col in df.columns
    if df[col].astype(str).str.contains('Km | KM | Km', case=False, na=False).any()
]

cols_with_nan = df.columns[df.isnull().any()].tolist()


print('Columns with percent:', cols_with_percent)
print('Columns with Km:', cols_with_Km)
print('Columns with NAN:',cols_with_nan)

Columns with percent: ['Unemployment_Rate']
Columns with Km: []
Columns with NAN: []

In [108]:
for i in cols_with_percent:
    df1[i] = df1[i].str.replace('%', '')
    df1[i] = df1[i].astype(float)
   
for i in cols_with_Km:
    df1[i] = df1[i].str.replace('km', '') 
    df1[i] = df1[i].astype(float)

In [109]:
df1.head(5)

,Population_Density,Unemployment_Rate,Police_Station_Distance,Number_of_Schools,Average_Income,Age_Group_Ratio_15_24,Age_Group_Ratio_25_44,Age_Group_Ratio_45_plus,Poverty_Rate,School_Dropout_Rate,...,Single_Parent_Household_Rate,CCTV_Cameras,Drug_Hospital_Admissions,Police_Patrol_Frequency,Emergency_Response_Time,Youth_Unemployment_Rate,Alcohol_Outlet_Density,Distance_to_High_Risk_Areas,Mental_Health_Services,Total_Crime_in_Month
0,283977,5.3,1.3,270,75334,24.4,72.9,2.7,93.4,33.9,...,75.3,787,1774,448,81.5,15.0,250,23.3,185,183
1,409705,35.3,17.3,458,86717,95.2,1.2,3.6,58.7,79.8,...,40.2,394,4150,146,66.5,64.7,370,13.6,338,529
2,112779,92.8,9.8,397,86482,2.6,78.9,18.5,67.4,51.9,...,51.0,82,1802,156,443.8,100.0,383,33.1,310,331
3,633945,40.8,19.9,177,33704,53.7,40.3,6.0,41.7,7.3,...,60.3,843,2671,299,343.6,80.6,203,26.5,160,347
4,607368,5.9,21.7,716,77833,20.1,19.3,60.6,94.5,5.9,...,75.7,520,3569,81,125.3,17.4,343,9.0,16,468

In [110]:
for i in df1.columns:
    df1[i]=round(df1[i].fillna(df1[i].mean()),1)

In [111]:
for i in df1.columns:
    print(f'\n\ncolumn name:{i} \ndatatype: {df1[i].dtype}\n unique:{df1[i].unique()} ')

column name:Population_Density
datatype: int64
 unique:[283977 409705 112779 633945 607368   7894 997330 248417 839463  94095
 418371  28735 810613 968001 762938 422790 146232 648988 847273 712096
 717040 260654 993160 573197 842155 819761 524536  30295 154778 396587
 883974 764235 100393  99581 726727  80552 208194 190251 357569 884646
 696292 418103  16251 955636 668943   7582 512699 598326 264037 302247
 564653 163262 730566  54485 122790 906062 105878 601779 701042 610736
 934137 974486 272141 368828 519182 520313 879210 318072 663332 829930
 495160 169360 648956 813601 963343 600459 224656 112404  29977 359973
 501663 673542 898683 336063 315485  96045 212383 255748 599053  16775
 884137 264847 471154 973221 413443 721362 698537 275938 230943 915635
  79396  89730  41718  51647  20995  60218  42449  65238  38810  55510
  51879  52271  30753  13282  28185  17890  55342  15562  80656  62394
  49780  69748   7335  20002  88507  44023   7491  22621  18902  82173
  58450  67828  60748  46439  17651  53036  88451  14407  73156  25091
  37605  89932  10114  92567  49151  53026  28991  14782   7943  62788
  20861   7649  10647  59920  94251  63515  12778  73873  19044  27382
  44201  70428  60137  57455  38248  19653  39830  47325  27722  12581
   8162  92322  64453  30358  61115  37386   3790  75580   5995  55052
  96411  32321  87152  75849  65336  31581  14149   4411  45445  14699
  36737  53204  94026  15119  68022  63468   4931  54917  24002  13459
   1705  10928  11596  13110   4340  15784   2331  14207   3697   5894
  14624   6512  19347  15193   9520   5289  12953   4494  18514   8874
   8313  16392  16952   5412  16484   9108  19722  13083  17759   9906
   3864  16352  15170   1380  19986  19741  11158  14890  19341  10213
  11865  18197   8752   2685  19279  11895  16550   1151  10638  19801
  19129  13190   2953   9506   5892   6304   7049  11312  12553   6903
  19864   8739  16429   1596  15315   9073   9771  15860   8462  11692
  19565  15922   7635  16357  10281  11612  18984   6175  17150   8559
  16058  16278  14078   4124  15069  12702  16832   9565   5848   9152
  13943   2468   1855  17204   7397  14089  10687   2894   3882   8050
  19897  35314   6144  30868  10455  42461  25308  25817  30815  43702
  38416   7952  17978  41544  26182  35965  21656  45117  17769  11934
  34959  31678  33456  38875   8342  23146  18245  22273  34936  24119
  14853  49198   2618  27543  37938  26293   3295  26014   5778  20610
  10217  49848  38121   4557  27455  21270  28851   6565  27980  45406
  42067   7659   6127  16542  22271  39339   5356  48484  22452  17084
   8113  22248  10766  39225  49146   6215   3531  49237  12737  11524
  29402   3463  20000  25833   9608   8807  30890  41920  33729  39391
  11470  16156  39833  33031  24578  36871  31937  36015  47187   4832
  44020  27436  18794  32016  16924  33790  20377   6930   9411]


column name:Unemployment_Rate
datatype: float64
 unique:[ 5.3 35.3 92.8 40.8  5.9 72.7 25.7 75.1 93.5  7.6 39.3 56.3  1.2 96.5
 47.1 97.9 90.7 74.8 66.  87.3 95.2 11.3 74.4 14.6 14.  60.6 61.6 69.
 78.9 30.8 84.5  4.   9.4 59.4  1.8 53.3 79.8 87.4 80.9 18.4 59.3 82.1
 50.8 58.  51.1 89.5 34.2 49.  82.3 57.4 41.8 22.6 39.2 83.8 48.1 52.
 79.4 74.5 43.4 66.3 13.8 46.4 46.5 60.7 96.1 80.2 11.9 69.7 41.3  7.5
 35.9  6.5 91.4 67.5 30.4 77.3  1.4 72.4 85.9 18.   4.7 11.1  5.  20.
 96.8 60.2 30.6 31.5 90.5 75.7 17.2 74.7 69.2 35.6 95.7  6.9 29.9 28.7
  4.5 73.9 40.7 33.8 98.  52.5 12.8 53.1 38.6 55.4 83.1 19.  92.   3.2
 34.1 87.9 91.7 92.1 94.8 39.1  9.7 72.   9.8 60.4 42.6 92.5 60.8 30.5
 95.  22.8 85.4  3.8 27.4 11.7 31.3 29.5 99.4 58.2 81.4 82.4 21.6 54.7
 83.3 55.1 97.1 95.8  1.3 13.4 43.  73.2 43.8 34.4 86.3 33.  30.9 71.4
  8.  42.5 47.6 82.2 31.2  6.4 36.1  6.6 18.5 25.9 64.3 68.7 44.1 44.5
  7.4 68.  79.  52.2 32.6 79.9 21.8 39.7 29.2 97.  88.6  6.  32.  38.5
 85.  56.  13.2 49.5 17.7 62.7 14.8 62.8 73.  53.5 11.5 92.7 88.2 15.4
 41.6 95.6 87.5 89.4 10.2 64.1 86.4 72.1 83.5 71.3 28.4 85.3 41.5  5.5
 14.9 69.3 23.9  9.9 77.7 71.6 75.3 70.7 18.7 67.7 76.4 91.1 55.9 40.6
 28.3 80.6 89.  80.7 63.1 61.4 19.4 62.2 65.2 89.7 98.1 14.7 48.  10.6
 39.   1.6 28.9 34.5 25.2 44.9 37.4  7.3 18.8 86.6 81.9 44.8 18.3 95.9
 45.5 98.7 96.4 24.7 65.7 31.9 78.6 32.7 61.2 50.9  1.5 74.  41.  16.7
 69.1  2.3 19.3 37.1 55.  89.8 49.8 96.7 75.4 50.7 35.  48.4 22.2 17.9
 72.8 35.8 53.4  8.6 96.  84.4 28.2 69.8 70.2 91.6  7.  27.8 22.7 82.6
 56.9 42.8  8.7 21.1 64.2 13.3 12.6 16.6 55.7 15.7 77.5 37.3 72.6 36.4
 20.1 23.7 32.1 65.1 65.  86.8 25.4 13.5 69.5 17.4 78.8 58.3 98.2 30.2
 52.6 94.7 54.  71.  11.4 82. ]


column name:Police_Station_Distance
datatype: float64
 unique:[ 1.3 17.3  9.8 19.9 21.7 14.6 10.  15.8  1.8  5.8  3.8 13.5 21.8 19.5
 18.  27.4 19.3  4.6 29.9 11.2 27.7  2.3  2.8 27.9  5.6 15.9 12.   9.9
  4.1 11.1  5.4 26.4 15.6 12.3 18.8 11.6 23.6 18.4 10.2 15.1  2.1 13.6
  5.7 23.3  9.7 17.5 10.6  9.1  4.  21.2 16.  28.8  1.  16.5 29.2 16.9
  5.3 10.9 20.   9.5  8.7 25.  18.1 19.7 24.8  8.3 29.   9.3 23.9 22.3
 15.2 13.3 24.2 26.6 21.4 10.3  7.8 28.2  6.  26.2 27.1 23.5  2.2  3.
 20.5 14.3 27.  12.6 12.4  4.9 11.4 12.7 25.3 19.1  7.2 19.6 24.6 10.1
 28.5 16.6  1.7  6.2 26.  25.8 13.9  8.1 29.1 11.  22.5 14.7 13.7 14.
 24.5 15.7  1.5 25.2 16.1 29.5 23.2  3.7 20.3  9.6 19.   3.6 22.2 28.1
 29.3 23.8 16.2 22.1  8.9 28.7 15.5 27.6 16.3  4.8 11.7  4.7  3.1 18.7
  8.2 11.9  8.5  7.  25.5 15.   7.5 25.4  7.1 14.5 14.4 20.8 14.8  1.2
 24.9  3.3  3.2  6.8 27.8  1.9 22.7 14.1 22.  20.6  6.5 13.8 16.7 29.8
 12.9 24.1  8.6 22.4  2.5 25.1  6.4 17.8  2.9  8.8 26.8 19.8 29.6 13.
 11.8  6.9 29.7 10.5 26.5  7.6 12.8 26.3  5.2 27.5 24.3 25.6 20.7  1.1
 16.4  3.9 26.1 23.4 15.4 28.4  9.4 24.4 15.3 17.7  6.6  2.7 26.7 18.2
 18.6 20.2 14.2 10.4 30.   7.9 28.6 21.9 17.6 23.7  5.   5.9 28.3 20.9
  7.7]


column name:Number_of_Schools
datatype: int64
 unique:[270 458 397 177 716 875 984 575 793 207 104 608 295 555 333 633 909  86
 181 256 304 954 773 932 197 579 857 988 695 737 675 166 263 465 390 854
  79 369   2 682 594 519 456 688 167 614 336 301 220 639 490 393  83 127
 487 961  24 435 359 844 997 671 387 526 759 975 402 298 196 431 937 205
 151 924 994 743 999  36 199 530 763 948 647 434 178 206 691 898 158 578
 438 767 153  39 726  48 234 373 454 320 266 168 272 277 280  30 417 349
 392 170 131 444 191 473 224 416 447  44 437  52 492  70  63 457 436 365
  97  58 231 189 110 439 227 366 470 222 499  61 385  71   8 152 388 364
  11  18 318 103  42 107 486 109 218 102  43 396  73 240 162 287 292  93
 165 477 494 464  22 478 476 407 449 254  17 351 144 146  21 138 130 114
 141  59 132  45  27  20 140  62 100  95  19  12  34  15  75 116  88  66
  16 101 135  47  55 145  80   1   7  76  32 124  46 112  89 134  49 128
 113  67 121  92  60  91 115  81  72 129 161   3 215  85 183  29 230 198
 111 213  41  68 237 244 157  26 176 175 246  50 147  25 239 245 184  14
 217 232  65 202 208  23 188  98 228  31 242 186  64 193 241 216]


column name:Average_Income
datatype: int64
 unique:[75334 86717 86482 33704 77833 49947 59890 11757 89303 38448 56832 64385
 91399 95461 43680 17272 69028 41492 26666 99410 11511 66448 76039 36642
 70458 69547 29550 11865 62144 96302 41945 96735 89185 56959 82255 18605
 67864 97339 33574 35278 48045 74825 17296 65998 27723 89262 83725 59986
 35469 87287 75994 86575 88998 71621 62371 79244 80947 44987 91313 91908
 33888 95415 26386 74946 30396 12108 13625 46206 93688 61866 50273 26237
 27484 48122 16336 65109 28979 77585 90252 94231 42279 59517 33580 92780
 68078 62709 15115 17451 29312 94232 17159 85422 38197 30278 29678 37419
 52466 15282 29102 20707 29992 23637 44944 28522 88116 56854 81189 19777
 55387 48343 51969 52906 35374 98309 46825 45915 12400 88065 94731 98599
 15740 95850 72331 45539 60554 52852 29863 16672 62158 69757 16617 26224
 18943 49053 57647 93090 78057 49903 17513 95215 69280 93557 68856 29046
 84692 73167 90690 80406 27079 94627 16148 62252 54648 48767 21989 25758
 73148 50415 61056 30654 19463 11868 21260 22407 52152 72745 97360 90887
 62156 32165 35560 99536 11704 99567 72856 44534 79035 58109 42792 52047
 95255 35180 16120 96814 43831 99643 16959 21933 48990 48560 99051 61456
 17374 46866 25981 73564 26306 11327 65230 39993 34571 28183 28397 48850
 32859 46907 49818 25760 23188 45609 21402 28423 20914 32680 15284 26296
 27175 39311 31864 49306 32929 17992 15926 24043 24609 40721 17969 43509
 49148 40823 15272 43629 32365 42655 41031 30371 40561 26042 48270 21666
 14528 17509 30151 13709 35534 25237 44594 41634 39689 22737 18452 27006
 14395 23956 16908 16749 42786 38261 43453 13101 42805 45408 17874 19161
 45056 19108 30107 20483 36969 12906 31179 36658 43215 12488 23459 47434
 34054 44974 45366 34011 36164 41533 33102 38521 25261 15701 23517 12730
 44244 30102 46837 16663 13716 17788 15924 42606 41291 49712 35350 43236
 36233 49995 39441 23849 12770 18448 16226 28129 47717 13404 29717 13881
 29614 38313 46027 40470 15010 30525 24265 49262 13420 34332 28323 25536
 35893 48539 45809 48464 27565 29778 13736 12652 24297 49603 21794 23040
 23144 40674 21961 46790 40606 24330 33731 48549 29365 26395 18472 45823
 14981 25736 20036 17108 33227 36085 38200 31958 22918 41814 30776 48757
 14070 16679 43250 27985 33870 43747 13203 26338 32381 30388 36289 23364
 35873 39855 31208 31653 42436 45370 13220 14467 14520 44994 31570 31742
 34528 29235 45298 12161 42113 20706 24030 46073 46724 22088 23090 31803
 35756 40069 45671 27872]


column name:Age_Group_Ratio_15_24
datatype: float64
 unique:[24.4 95.2  2.6 53.7 20.1 12.4 40.9 34.8 58.3 17.9 54.9 53.4 63.6 14.9
 21.5 22.8 32.2 22.   0.5 40.7 55.7 16.5  6.8  3.4  2.4 10.9 39.2 10.8
 49.9 48.1  3.8 76.  35.2 22.1 16.2  1.7 14.5 82.8 11.6  8.4 47.7 34.9
 28.   7.7 15.3 12.3 13.1 10.7 49.5 51.5 71.6 16.7  0.9 29.2 92.4 50.1
 59.  28.8 46.4 44.3  4.8 62.6 26.6 42.4 55.  37.1 36.3 23.4 31.2 15.5
  9.3 12.8  3.3 11.5 72.9  3.9 34.1 43.4 11.2  0.1 19.7 10.3 74.4 37.7
 13.3  4.7  1.2 20.4  0.7 54.5 29.8 32.1 18.1 30.  64.1 11.4  1.5 25.5
 69.3 34.7  4.4 27.5  3.  77.4  7.8 27.2 71.5 34.6 28.2 72.1 74.9 30.1
 76.2 65.7 26.8 70.1  4.2 25.4 39.8 22.6 13.   9.5 63.9 60.2  2.  32.9
 13.9 57.3 21.3  5.4  5.6 13.7  7.4 65.8 32.6  8.3  5.2 98.6 16.3 42.7
 92.  11.7 43.8 50.5 46.  15.6 68.9 45.1 44.4 39.1 15.7 53.8 27.6 39.3
 76.7 12.5  4.9 28.5 16.1 41.9 10.5 27.3 17.7 75.4 10.  33.6 53.5 35.5
 23.6 36.6 45.2 54.4 48.9 59.3 10.1  4.3 21.6 69.  36.1 28.6  3.2 19.2
 22.9 69.9 35.7 35.9 19.5 21.2 17.5 47.6 87.1 15.4 19.1 21.  65.6 62.
  3.5 51.  22.4 20.3 58.9 20.6 37.3  4.   0.6 83.2 66.1 25.8  8.1  7.1
  6.7 66.3 91.7 81.3 37.8 36.2 84.6  7.  61.6 81.9 28.7  0.3 27.1 61.7
 69.8 71.3 30.6 41.8  8.   7.2 54.3 19.9 55.2 85.  74.  17.3 13.2 37.6
  7.5 45.8 18.4 57.5 17.6 17.1 24.1 41.7 26.7  9.2 32.7 25.6  1.1 64.2
 62.5 44.1 70.8 90.  66.8 29.3 25.1 81.8 26.5 35.   6.9 20.2  7.6  8.7
 25.3  2.5 73.1 45.   2.3 68.5 83.3 13.4 57.6 58.8 48.  17.4 58.2 40.3
 89.8 45.3 49.4 15.9 31.3 33.9  4.5 44.9 74.7 22.3 29.  38.7 28.3 26.1
 55.5 39.6 11.8  3.6  6.2 70.2 31.  31.5 46.1 13.5 21.7 27.9 18.  40.6
 86.  16.9 86.5]


column name:Age_Group_Ratio_25_44
datatype: float64
 unique:[72.9  1.2 78.9 40.3 19.3 14.9 10.9 30.7 29.7 22.9  7.3  5.8 27.5 27.2
 70.7 30.6 18.1 20.1  2.8 86.8 32.9 30.  16.4  4.2 30.1 39.4 76.8 19.9
 50.1 29.5 37.  58.2  9.7 58.6 25.9  3.1 56.7 72.4 47.1 15.7 22.  37.7
 78.5 34.9  8.3 25.  30.5 59.7 81.8 12.1 65.5 33.5  2.9 49.6 83.4 51.9
 49.3  4.9  0.1 42.4 14.  23.9 42.9 35.8 55.  19.5 31.1 57.5 16.5 65.4
  5.5  2.2 77.7  1.1 12.7 87.1 88.4 21.4 57.2 13.   4.4 66.  40.2 29.
 25.6 33.3  4.7 85.1 22.6 26.9 68.6 16.3 47.9 59.5 17.9 20.5 23.2 39.7
 85.  63.3 44.7 23.1 47.8  8.1 37.8 34.1 94.2 70.8 65.3 26.  45.3 14.6
 36.8 13.9 23.8  9.1 13.5 15.4 77.9 73.7 11.9  1.  58.4  5.  33.6 54.
 21.5  9.2 56.1 81.2 93.2 39.  52.2 21.2 48.3  6.8 33.1  1.4 43.7 53.1
  7.4 70.  45.9 51.1 14.1 34.   4.  12.6 50.8 51.4 28.5 82.5 36.9  4.3
  3.4  1.5 41.8 64.6 53.9 59.6 27.3 64.1  9.8 13.3 20.4 59.4 16.7  0.8
 64.7 53.7 45.  23.5 76.3 94.7 43.9  2.7 46.4 35.1 26.2 35.3 72.1  0.9
 52.3  9.4 18.8 64.9 45.4 42.8  8.7 56.3 89.1 72.5 43.6 32.2  9.  25.3
 17.4  4.6 60.4 24.7 44.  38.2  5.1 13.6 11.6 57.7 39.6 80.1  6.6  3.2
 82.7 55.7 58.7 54.9 13.7 32.  27.8 13.2 31.5 83.2 59.3 24.4 12.4 68.4
 99.3 52.9  3.9 55.2 24.5 57.  38.8 11.3 35.   4.1 28.7 18.6 31.9  7.6
 26.1 69.6 22.5  0.3 59.1 10.4 52.1 55.1 69.9 25.2  3.5 20.8  1.8  0.4
 34.8 49.   4.8 16.1  0.7 86.1 26.7 54.8  5.4 49.1 49.7 47.  54.3 41.
 61.5 86.3 39.1 11.  48.6 38.  92.5  7.9 61.   5.3 31.2 24.9 18.5 57.1
  8.6  9.6 61.2 63.5 71.2 15.1 58.1 52.4 43.1 50.7 42.7 72.2 19.6 10.2
 73.2 37.6 22.4 13.4 12.9 10.7 46.   9.5 59.9 41.7 74.4 48.5 47.7  6.5
 11.4  6.2 82.2 17.7]


column name:Age_Group_Ratio_45_plus
datatype: float64
 unique:[ 2.7  3.6 18.5  6.  60.6 72.7 48.1 34.5 50.2 18.9 74.8 39.3 19.1  9.2
 14.4 48.  59.1 47.7 75.2 12.7 26.4 14.3 67.1 89.  66.5 58.2 12.3 40.9
 39.1 20.5 14.9 38.1 14.2 30.5 38.9 27.1 25.9 38.4  1.5 67.2 50.7 13.1
 17.4 56.7 47.  61.8 25.   5.8 23.8 16.9 25.5 33.7 15.7  6.4 32.8 44.9
 28.9 39.5 31.8 52.3  1.6 18.4 54.5 64.   5.4 47.2 46.7 38.3 85.3 85.
 95.5 24.6  0.1 38.8 52.9 52.2 22.8 21.3 40.2 60.7  0.  29.  82.  10.2
 76.2 52.7 30.7 29.2 22.3  8.4 49.5 48.6 35.2 29.8  7.6 17.5 87.4 39.4
 60.4  2.9 14.5 21.4  7.5  2.5 20.1 55.3 13.  10.5 33.1  9.9 10.6 64.1
 36.4 17.9  0.9 48.3 76.4 57.3 32.1 31.  23.4 64.4 26.9 32.2 69.5 23.6
 13.4  1.2 47.3 40.4 19.  84.9 61.6 40.   4.2  0.6 26.1 45.4 10.3 38.
 35.5 20.  27.  42.3  9.4 32.4  1.7 68.1 21.8 45.8 17.6 24.3 25.4 62.9
 68.9 69.6  7.  63.7 11.7  9.8  9.7  1.9 27.6 13.6  1.  28.3 17.  41.9
 61.7 54.6 41.8  0.3  0.7 63.3 65.1 72.6 54.7 13.9 81.  27.9  4.1  6.5
  6.6 70.7 55.5 71.3 60.8 31.6 73.  25.8 21.5 52.   6.9 34.8 85.8  5.2
 43.1 34.1 53.3 13.2 15.5 12.4  5.1 15.9 61.   4.9 39.8 16.5 45.9 13.7
  5.3 88.1 37.6 21.2 23.1 16.4 45.7 41.2 21.9 68.  58.1 43.8 60.5 54.1
 46.6 18.3 59.9 82.6 16.8 56.9  8.7 33.9 24.9 65.7 11.  70.9 40.8 34.
 79.2 23.7  9.3 13.3  3.5 48.2 18.7 30.1 29.6 87.7 42.7 41.6 58.5 37.
 36.   0.4 27.2  2.6 16.  50.9 72.4 55.2 47.1 36.7 34.3 33.5 65.4 16.3
 37.5 39.7 14.1 33.  56.2 38.2 12.9  6.7 23.5 69.  58.3 42.9 73.5  0.2
 27.7 22.  39.6 10.9 20.4 37.1 41.4 52.1 63.6 31.4  3.7 15.  50.6 71.4
 55.6 43.2 68.7 12.2 11.9 15.6 92.7  0.8 63.  45.1]


column name:Poverty_Rate
datatype: float64
 unique:[ 93.4  58.7  67.4  41.7  94.5  91.2  91.9  38.9  97.8  72.4   7.   51.4
  46.1  27.3   9.5  41.2   8.8  81.5   5.2  64.4  14.3  54.3  98.8  84.1
   2.7  14.4  34.2  50.7  52.1  10.7  22.6  28.7  36.    6.2  19.7  51.2
   9.8  31.   77.   81.   43.9  39.3  70.8  34.9  90.4  20.1  97.6  17.4
  45.7  28.6  17.7  24.1  80.9  32.5  70.6  50.8  40.6  80.6  76.2  38.5
  34.3  76.5  91.8  51.8  24.5  88.2   3.1  53.3   1.6  26.8  87.2  31.2
  66.2  54.2  78.    6.6  45.3  57.9  67.3  41.   15.2  64.6  25.2  68.2
   9.6   3.6  98.   93.3   6.7  57.   86.8  96.6  82.   51.3  71.2  47.8
  38.3  23.9  52.6  94.8  21.5  20.3  27.9  98.6  26.7  75.4  30.2  98.9
  69.   46.6  75.8  88.5  63.5  54.5  25.   66.1   5.5  14.5  90.7  93.2
  83.8  35.6  60.6  36.5  21.6  62.7   6.8  72.1  96.2  50.4  80.5  27.4
  20.5  92.2  45.6  73.4  79.3  80.8  15.3  97.9  16.9  25.3  60.8  99.5
  79.9  27.   94.1  13.3  23.6  66.7  98.2  41.4  55.3  29.1  57.8  63.8
  45.8  68.3  71.5  39.   21.7  19.2  13.8   5.   97.1  48.   25.5  30.9
  18.6  24.   28.1  54.    7.2  72.6   7.5  59.5  49.4  93.8  80.3  11.
   6.3  48.2 100.   65.8  18.1  15.5  12.   31.9  91.4  55.5  12.9  86.5
  95.5  65.6  44.7  78.2  60.1  38.   81.9  12.8  87.6  65.   43.2  24.8
  44.6  14.7  62.9  20.4  39.2  68.1  12.1   8.3   7.4  92.1  46.7  93.7
  17.    8.7  76.1  92.   99.6  61.4   3.2  83.4  68.6  51.9  69.7   7.9
  63.9  21.2  96.7  60.5  19.5  83.2  47.   11.8   6.4  82.3  87.1  64.8
  32.9  57.7  52.9  15.9   2.2  23.8  92.4  58.5  79.1  41.1  84.2  42.8
  59.2  22.7  22.9  40.   17.5  47.1  27.8  52.5  85.9  88.    8.   49.7
   5.4  82.6  39.9  19.4  72.7  54.9  65.4  44.1  39.8   7.8  33.9  48.8
  14.9  66.8  68.4  24.2  26.2  95.   78.9  74.3  33.8  96.9  33.   20.7
  34.   70.1  61.7  76.8  49.6  79.2  89.7  25.4  93.1  60.3  40.1  64.3
  12.3  89.   76.    4.5  70.5   8.2  60.   77.7  57.3  49.5   1.3  20.
  29.6  70.4  21.8  33.3  16.   28.5   3.5  57.2  74.   67.8  84.4   8.1
  17.9]


column name:School_Dropout_Rate
datatype: float64
 unique:[ 33.9  79.8  51.9   7.3   5.9  53.6   8.1  59.1  18.2  23.   33.5  19.2
  43.1  57.7  17.   36.1  35.4  59.5  83.8   7.8  87.9  51.5  57.1  16.2
  23.5  80.8  39.1  93.2  47.1  73.4   9.5  78.3  17.8  34.3  20.3  72.4
  48.1  59.4  93.9  69.1  48.8  54.4  94.1  54.7  64.2   2.1  53.3  67.7
  30.9  62.3  30.1  70.3  22.9  99.1  23.4  46.6  31.   23.7  37.8  25.2
  45.7  35.   75.3  44.6  79.6  67.5  42.3  15.8  34.   47.7  52.9   1.5
  39.8  70.   85.4  73.6  85.2  83.2  37.4  85.7  63.   27.7   3.4  31.1
  70.7  30.4  43.6  55.4  65.7  81.2  64.6  46.4  60.1  49.2 100.   69.9
   4.1  86.1  11.7  29.1  60.3  35.1  12.1  33.4  70.2  64.4  16.1  25.7
  73.7  82.1  71.4   1.2  38.1  28.1  95.7   9.4  55.9  35.6  26.4  39.3
  34.2  94.   70.6  32.2   5.2  92.4  23.9  49.5  54.2  20.6  85.8  58.6
  66.5  25.5  48.5  84.7  16.6  53.1  62.6  93.4  19.6  20.9  45.9  21.7
  42.9  22.3  16.5  89.9  96.4  94.9  33.   19.7  66.8  96.1   2.8  70.8
  15.1  60.9   6.7  97.3  85.5  65.3  96.9  16.8  54.6  72.3  41.5  35.8
  49.1  50.9  97.9  68.9  40.6  59.9  98.7  96.3  68.4  50.8   4.6  58.9
  90.1  95.3  82.8  89.7  19.3  13.4   1.4  19.    6.2  61.6  83.4  99.2
  87.5  11.8  77.2  50.6  61.5  10.9  29.9  88.3  68.8  95.   56.9  51.6
   6.3   8.8  47.3   2.7  64.8   3.7   9.6  48.4  76.   64.1  91.6  84.4
  34.4  57.4  14.7  94.5  81.3   2.9  53.5  42.1   2.4  86.   99.   80.
  44.3  93.5  47.4  62.5   1.   41.2  69.    3.8  12.2  14.1  95.5  67.1
   4.5  41.4  79.5  39.    8.5  34.6  34.5  75.7  87.4  75.9  39.7  73.3
  71.9  32.8  93.1  81.7  17.2  78.9  24.2  82.   69.7  39.9  91.   95.9
  56.   15.   70.9  99.4  40.5  55.2  17.1  51.1  84.8  29.2  27.   76.8
   3.1  99.7  82.7  85.   64.3  21.8  53.9  12.6  82.3  78.4  61.1  59.7
   3.9  38.6  50.2  17.7  45.8  81.9   2.2  36.2  96.2  61.7   1.9  34.7
  48.2  47.5  84.9  63.7  50.5  84.   94.6  60.7  83.7  66.1  81.6   8.9
  50.4   9.9  83.3  71.    5.1   3.6  30.7  32.4  27.4]


column name:Housing_Quality
datatype: float64
 unique:[ 61.3  45.6  99.4  75.2  61.7  64.9   5.8  91.6  49.4  25.2  85.4  19.
  13.7  84.4  52.7  29.6  70.5  28.   27.4  74.8   8.4  35.   99.2  58.
  45.2  85.   51.6  81.4  29.5  31.8  95.9   6.6  27.   80.6  92.4  33.8
   6.9  68.6  37.2  61.6  31.2  15.5  74.6  62.2  54.9  67.3  81.6  80.8
  58.8  42.2  19.8  73.8   2.5  16.3  53.2  14.8  33.7  87.2  57.5  82.3
  41.2   9.1  47.9  21.4  95.3  16.   55.3  55.2  23.2  87.7  43.9  68.5
   8.   59.3  37.3  85.1  55.5  80.7  47.6  28.9  74.1  64.   38.7  95.4
  98.3  71.8  41.   43.6  69.2  84.6  30.   75.7   2.6  41.9  13.2  24.1
  30.8  59.2  38.9  91.7  15.8  66.7  93.7  14.3  72.   98.2  12.2  25.6
  34.7   8.5  49.9  57.3  41.4  56.7  97.5  65.8  81.5  93.   94.9  88.9
   7.4  30.5  27.9  29.   47.2  74.   46.   55.4  50.4  23.4  84.   53.6
  27.5   8.9  21.   74.7  21.9  67.   39.1  12.9  68.8  37.8  84.7  66.4
  21.8  32.1   5.   36.1  58.6  70.7  46.3  51.1  83.3  18.3  63.1  69.9
   9.3   1.7  67.5  65.7  51.5  79.8  58.3  17.6  58.1  91.2   1.   59.6
  20.   31.1  34.5  50.1  58.4  17.9  41.8  48.5  60.4  18.6  40.4  33.2
  17.1   4.7  43.1  69.7  79.3  76.4  72.3  24.7  42.4  42.1   4.    7.3
  63.   27.2  54.5  98.5  15.9  52.9  62.4  71.2 100.   63.5  11.3  43.7
  26.1  84.1  52.4  19.2  79.   71.3  16.9  89.   19.7  25.5  14.7  34.2
  48.8  64.6  49.   11.9   7.8  31.    5.5  56.5  96.3   3.5  80.1  94.1
  75.6   2.3   5.7  44.3  25.4  96.9  41.3  20.9   6.7   2.7  51.3   9.2
  79.7  78.6  84.3  58.7  69.4  38.8  90.6  20.1  30.1  80.9  65.2  73.

In [112]:
df1.isnull().sum()

Population_Density              0
Unemployment_Rate               0
Police_Station_Distance         0
Number_of_Schools               0
Average_Income                  0
Age_Group_Ratio_15_24           0
Age_Group_Ratio_25_44           0
Age_Group_Ratio_45_plus         0
Poverty_Rate                    0
School_Dropout_Rate             0
Housing_Quality                 0
Access_to_Public_Transport      0
Recreational_Facilities         0
Single_Parent_Household_Rate    0
CCTV_Cameras                    0
Drug_Hospital_Admissions        0
Police_Patrol_Frequency         0
Emergency_Response_Time         0
Youth_Unemployment_Rate         0
Alcohol_Outlet_Density          0
Distance_to_High_Risk_Areas     0
Mental_Health_Services          0
Total_Crime_in_Month            0
dtype: int64

In [113]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Population_Density            400 non-null    int64
 1   Unemployment_Rate             400 non-null    float64
 2   Police_Station_Distance       400 non-null    float64
 3   Number_of_Schools             400 non-null    int64
 4   Average_Income                400 non-null    int64
 5   Age_Group_Ratio_15_24         400 non-null    float64
 6   Age_Group_Ratio_25_44         400 non-null    float64
 7   Age_Group_Ratio_45_plus       400 non-null    float64
 8   Poverty_Rate                  400 non-null    float64
 9   School_Dropout_Rate           400 non-null    float64
 10  Housing_Quality               400 non-null    float64
 11  Access_to_Public_Transport    400 non-null    float64
 12  Recreational_Facilities       400 non-null    int64
 13  Single_Parent_Household_Rate  400 non-null    float64
 14  CCTV_Cameras                  400 non-null    int64
 15  Drug_Hospital_Admissions      400 non-null    int64
 16  Police_Patrol_Frequency       400 non-null    int64
 17  Emergency_Response_Time       400 non-null    float64
 18  Youth_Unemployment_Rate       400 non-null    float64
 19  Alcohol_Outlet_Density        400 non-null    int64
 20  Distance_to_High_Risk_Areas   400 non-null    float64
 21  Mental_Health_Services        400 non-null    int64
 22  Total_Crime_in_Month          400 non-null    int64
dtypes: float64(13), int64(10)
memory usage: 72.0 KB

In [114]:
df1.describe()

,Population_Density,Unemployment_Rate,Police_Station_Distance,Number_of_Schools,Average_Income,Age_Group_Ratio_15_24,Age_Group_Ratio_25_44,Age_Group_Ratio_45_plus,Poverty_Rate,School_Dropout_Rate,...,Single_Parent_Household_Rate,CCTV_Cameras,Drug_Hospital_Admissions,Police_Patrol_Frequency,Emergency_Response_Time,Youth_Unemployment_Rate,Alcohol_Outlet_Density,Distance_to_High_Risk_Areas,Mental_Health_Services,Total_Crime_in_Month
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000,...,400.000000,400.000000,400.000000,400.00000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,142786.747500,50.721250,15.210500,243.292500,42924.222500,32.507500,34.739750,32.749750,48.89375,51.051000,...,49.333750,209.415000,1439.175000,162.50500,149.965750,73.127750,143.435000,16.914250,108.925000,208.742500
std,252307.008327,29.451136,8.450931,241.277805,24154.126274,24.125633,24.494212,23.045289,29.26564,28.860375,...,28.948945,249.448128,2643.062915,135.77471,150.429393,32.813041,154.355547,12.884454,117.450291,278.515211
min,1151.000000,1.200000,1.000000,1.000000,11327.000000,0.100000,0.100000,0.000000,1.30000,1.000000,...,1.300000,1.000000,1.000000,1.00000,1.300000,1.600000,1.000000,1.100000,1.000000,0.000000
25%,12909.250000,25.350000,8.300000,69.500000,24289.000000,12.300000,13.850000,13.900000,23.42500,25.650000,...,23.775000,31.750000,59.000000,51.00000,35.125000,45.675000,15.000000,6.600000,15.750000,54.500000
50%,28793.000000,50.850000,14.700000,157.500000,37194.000000,27.950000,30.550000,28.950000,48.10000,51.300000,...,49.700000,76.500000,128.000000,126.50000,79.450000,93.200000,73.500000,13.600000,66.500000,80.500000
75%,87476.750000,75.875000,22.325000,360.250000,52562.500000,48.025000,53.250000,48.375000,72.62500,76.000000,...,73.625000,348.000000,491.500000,262.25000,261.100000,100.000000,263.500000,23.225000,171.750000,153.000000
max,997330.000000,99.400000,30.000000,999.000000,99643.000000,98.600000,99.300000,95.500000,100.00000,100.000000,...,100.000000,989.000000,9958.000000,499.00000,498.200000,100.000000,495.000000,49.800000,474.000000,1000.000000

In [115]:
df1.columns

Index(['Population_Density', 'Unemployment_Rate', 'Police_Station_Distance',
       'Number_of_Schools', 'Average_Income', 'Age_Group_Ratio_15_24',
       'Age_Group_Ratio_25_44', 'Age_Group_Ratio_45_plus', 'Poverty_Rate',
       'School_Dropout_Rate', 'Housing_Quality', 'Access_to_Public_Transport',
       'Recreational_Facilities', 'Single_Parent_Household_Rate',
       'CCTV_Cameras', 'Drug_Hospital_Admissions', 'Police_Patrol_Frequency',
       'Emergency_Response_Time', 'Youth_Unemployment_Rate',
       'Alcohol_Outlet_Density', 'Distance_to_High_Risk_Areas',
       'Mental_Health_Services', 'Total_Crime_in_Month'],
      dtype='object')

In [116]:
column_rename_map = {
    'Population_Density': 'Population Density',
    'Unemployment_Rate': 'Unemployment Rate %',
    'Police_Station_Distance': 'Police Station Distance km',
    'Number_of_Schools': 'Number of Schools',
    'Average_Income': 'Average Income',
    'Age_Group_Ratio_15_24': 'Age Group Ratio (15-24) %',
    'Age_Group_Ratio_25_44': 'Age Group Ratio (24-44) %',
    'Age_Group_Ratio_45_plus': 'Age Group Ratio (44+) %',
    'Poverty_Rate': 'Poverty Rate %',
    'School_Dropout_Rate': 'School Dropout Rate %',
    'Housing_Quality': 'Good Housing Quality %',
    'Access_to_Public_Transport': 'Distance to Public Transport km',
    'Recreational_Facilities': 'Recreational Facilities',
    'Single_Parent_Household_Rate': 'Child Living With Single Parent Rate %',
    'CCTV_Cameras': 'CCTV Cameras',
    'Drug_Hospital_Admissions': 'Drug Hospital Admissions',
    'Police_Patrol_Frequency': 'Police Patrol Frequency',
    'Emergency_Response_Time': 'Emergency Response Time (Mins)',
    'Youth_Unemployment_Rate': 'Youth Unemployment Rate %',
    'Alcohol_Outlet_Density': 'Alcohol OutletDensity',
    'Distance_to_High_Risk_Areas': 'Distance to High Risk_Areas km',
    'Mental_Health_Services': 'Mental Health Services Count',
    'Total_Crime_in_Month': 'Total Crime in Month'
}


df1.rename(columns=column_rename_map,inplace=True)
df1.head(1)

,Population Density,Unemployment Rate %,Police Station Distance km,Number of Schools,Average Income,Age Group Ratio (15-24) %,Age Group Ratio (24-44) %,Age Group Ratio (44+) %,Poverty Rate %,School Dropout Rate %,...,Child Living With Single Parent Rate %,CCTV Cameras,Drug Hospital Admissions,Police Patrol Frequency,Emergency Response Time (Mins),Youth Unemployment Rate %,Alcohol OutletDensity,Distance to High Risk_Areas km,Mental Health Services Count,Total Crime in Month
0,283977,5.3,1.3,270,75334,24.4,72.9,2.7,93.4,33.9,...,75.3,787,1774,448,81.5,15.0,250,23.3,185,183

In [117]:
df1.reset_index(inplace=True)

In [118]:
df1.to_csv('../cleaned Data for crime anylasis.csv',index=False)